body{
    background-color:rgb(4, 235, 252);
    color:red;
 }

 table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  table {
    width: 50%;
    border: 3px solid rgb(158, 5, 5);

  }
  
  th, td {
    padding: 5px;
    text-align: center;
  }

 
  
 tr:nth-child(even) {
    background-color:rgb(6, 224, 206);
 }
  

 tr:hover {
     background-color: rgb(23, 184, 162);
     color:red;
 }